<div class="app">
  <main>
    <navbar [type]="'header'"></navbar>
    <section class="section" id="product">
      <div class="product_container container grid">
        <ul class="nav justify-content-center pb-3 mb-3">
          <li class="nav-item">
            <a
              class="px-2 favorite_link {{
                selectPage === 'favoritosComunidad' ? 'active' : ''
              }}"
              (click)="cambiarSelectPage('favoritosComunidad')"
              >Favoritos de la comunidad</a
            >
          </li>
          <li class="nav-item">
            <a
              class="px-2 favorite_link {{
                selectPage === 'misFavoritos' ? 'active' : ''
              }}"
              (click)="cambiarSelectPage('misFavoritos')"
              >Mis Favoritos</a
            >
          </li>
        </ul>

        <div *ngIf="selectPage === 'misFavoritos'">
          <app-carta-negocio
            *ngFor="let establecimiento of misFavoritos; let i = index"
            [establecimientoDTO]="establecimiento"
            [isFavorite]="esFavorito(establecimiento!.codigo)"
          ></app-carta-negocio>
          @if (misFavoritos!.length === 0 && !loading) {
          <div class="alert alert-warning flex-center" role="alert">
            No tienes favoritos.
          </div>
          }
        </div>

        <div *ngIf="selectPage === 'favoritosComunidad'">
          <app-carta-negocio
            *ngFor="let establecimiento of favoritosComunidad; let i = index"
            [establecimientoDTO]="establecimiento"
            [isFavorite]="esFavorito(establecimiento!.codigo)"
          ></app-carta-negocio>
        </div>
      </div>
    </section>
  </main>
</div>
