<div class="App">
  <navbar [type]="'header'"></navbar>

  <section class="section">
    <!-- <div class='home_container container grid'> -->
    <div class="container grid">
      <div class="">
        <!-- <h1>Lugares recomendados</h1>
        <hr /> -->

        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            @for (establecimiento of mejoresEstablecimientos; track $index) {
            <div class="carousel-item {{ $index === 0 ? 'active' : '' }}">
              <img
                src="https://media.istockphoto.com/id/1455589142/es/foto/interior-del-antiguo-palacio-en-ruinas-con-columnas-y-c%C3%BApula.jpg?s=2048x2048&w=is&k=20&c=eE_kMqz2Lx3JnLXEKUFyTMWh7cZ1CUyVSfVhvXNAsZI="
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ establecimiento.nombre }}</h5>
                <p>
                  {{ establecimiento.categoria }}
                </p>
              </div>
            </div>
            }
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <!-- <div class='home_container container grid'> -->
    <div class="container grid">
      <div class="">
        <h1>Lugar del dia</h1>
        <hr />

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <div
                id="carouselExampleAutoplaying"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  @for (imagen of establecimientoAleatorio?.imagenes; track
                  $index) {
                  <div class="carousel-item active">
                    <img
                      src="{{ imagen }}"
                      class="d-block w-100"
                      alt="{{ imagen + $index }}"
                      class="img-fluid rounded-start"
                    />
                  </div>
                  }
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleAutoplaying"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleAutoplaying"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  {{ establecimientoAleatorio?.nombre }}
                </h5>
                <p class="card-text">
                  {{ establecimientoAleatorio?.descripcion }}
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">{{
                    establecimientoAleatorio?.categoria
                  }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container grid">
    <h1>Mapa</h1>
    <hr />
    <div id="mapa"></div>
    <form role="search" >
      <div class="input-group">
        <input
          #textoBusqueda
          type="search"
          class="form-control"
          placeholder="Buscar..."
          aria-label="Search"
        />
        <button type="button" class="btn btn-primary" (click)="buscar(textoBusqueda.value)">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <select class="btn btn-primary search_button" id="">
          <option value="coso">coso</option>
          <option value="coso2">coso2</option>
          <option value="coso3">coso3</option>
        </select>
      </div>
    </form>
    @for (negocio of negocios; track $index) {
    <app-carta-negocio
      [establecimientoDTO]="negocio"
      [isFavorite]="favoritos != null ? esFavorito(negocio!.codigo) : false"
    ></app-carta-negocio>
    }
  </div>
  <app-footer></app-footer>
</section>
