<div class="app">
  <main>
    <navbar [type]="'header'"></navbar>
    <section class="section" id="product">
      <div class="product_container container grid">
        <div class="product_information grid">
          <div class="product_information-img flex-center">
            <div class="information__img-box flex-center">
              <div
                id="carouselExampleAutoplaying"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  @for (imagen of establecimientoDTO?.imagenes; track $index) {
                  <div class="carousel-item active">
                    <img
                      src="{{ imagen }}"
                      class="d-block w-100"
                      alt="{{ imagen + $index }}"
                    />
                  </div>
                  }
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleAutoplaying"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleAutoplaying"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div class="product_information-description">
            <div class="product_information-title">
              <h1 class="product-name">{{ establecimientoDTO?.nombre }}</h1>
              <div class="flex-center">
                <!-- TODO: HACER QUE SI APARECE EN LA LISTA DE FAVORITOS SALGA CON EL CORAZON RELLENO (crear peticio para agregar a favoritos) -->
                <i class="bx bxs-heart product_information-heart"></i>
                <div class="product_information-disponibilidad flex-center">
                  {{ estaAbierto() }}
                </div>
              </div>
            </div>
            <hr />
            <p>{{ establecimientoDTO!.descripcion }}</p>
            <hr />
            <p>Horarios:</p>
            @for (horarios of establecimientoDTO?.horarios; track $index) {
            <p>
              {{ horarios.dia }}: {{ horarios.horaApertura }} -
              {{ horarios.horaCierre }}
            </p>
            }
            <p>Categoría: {{ establecimientoDTO?.categoria }}</p>
            @for ( telefonos of establecimientoDTO?.telefonos; track $index) {
            <p>Teléfono {{ $index + 1 }}: {{ telefonos }}</p>
            }
            <div class="product_information-calificaciones">
              <p class="comentario_information-name">Calificaciones:</p>
              <div class="">
                @if (establecimientoDTO?.promedio != undefined) { @for (item of
                generarRango(establecimientoDTO!.promedio); track $index) {
                <i class="bx bxs-star star-active"></i>
                } }
              </div>
            </div>
          </div>
        </div>
        <div class="comentarios-section">
          <div class="section__presentation">
            <h2 className="section__title">Comentarios</h2>
            <span className="section__subtitle"
              >Comentarios realizados por la comunidad</span
            >
          </div>

          @for (comentario of comentariosDTO; track $index) {
          <div class="comentario_information">
            <img
              src="http://res.cloudinary.com/duykwcgkw/image/upload/v1713369817/unilocal/wk8cvjxkwkn68xnydidj.jpg"
              alt="..."
              class="comentario_information-image"
            />
            <span class="comentario_information-name"
              >{{comentario?.nombreUsuario}}</span
            >
            <div class="">
              <i
                *ngFor="let val of generarRango(+comentario.valoracion)"
                class="bx bxs-star star-active"
              ></i>
            </div>
          </div>
          <span>{{ comentario?.resenia }}</span>

          @if (comentario?.respuesta != "") {
          <div class="comentario_information-respuesta">
            <span>{{ comentario?.respuesta }}</span>
          </div>
          } @else {
          <!-- TODO: APARECER SOLO SI SE TRATA DEL DUEÑO DEL LOCAL -->
          <form
            role="search"
            (submit)="
              responderComentario(
                $event,
                comentario.codigoComentario,
                textoResponderComentario.value
              )
            "
          >
            <div class="comentario_information-respuesta">
              <div class="input-group comentario_information-input">
                <input
                  #textoResponderComentario
                  type="search"
                  class="form-control"
                  placeholder="Responder comentario..."
                  aria-label="Search"
                />
                <button class="btn btn-primary" type="submit">
                  <i class="bx bxs-send"></i>
                </button>
              </div>
            </div>
          </form>
          } }
        </div>
        <hr />
        <form
          role="search"
          (submit)="
            crearComentario(
              $event,
              textoComentario.value,
              +choiceComentario.value
            )
          "
        >
          <div class="input-group comentario_information-input">
            <input
              #textoComentario
              type="search"
              class="form-control"
              placeholder="Crear comentario..."
              aria-label="Search"
            />
            <select
              #choiceComentario
              class="btn btn-primary search_button"
              id=""
            >
              <option value="Valoracion">Valoracion</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button class="btn btn-primary" type="submit">
              <i class="bx bxs-send"></i>
            </button>
          </div>
        </form>
      </div>
    </section>
    <app-footer></app-footer>
  </main>
</div>
