<header id="navbar" class="{{ type }} {{ isFixed ? 'navbar-fixed' : '' }}">
  <nav class="nav container">
    <div class="nav__logo">Unilocal</div>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link"> Publicaciones </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" (click)="navigateToHome()" routerLink="/inicio">
            Home
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link"> Ajustes </a>
        </li>
        <li class="nav__item">
          <a class="nav__link"> Favoritos </a>
        </li>

        <li class="nav__item">
          <a class="nav__link"> Lugares por revisar </a>
        </li>
      </ul>
    </div>
    <div class="search">
      <ul class="nav__list">
        <a
          class="nav__link"
          (click)="navigateToLogin('login')"
          routerLink="/auth"
        >
          Iniciar sesión
        </a>
      </ul>
    </div>
  </nav>
</header>
