<header id="navbar" class="{{ type }} {{ isFixed ? 'navbar-fixed' : '' }}">
  <nav class="nav container">
    <div class="nav__logo">Unilocal</div>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" (click)="navigateToMyPublications()" routerLink="/mis-publicaciones"> Publicaciones </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" (click)="navigateToHome()" routerLink="/inicio">
            Home
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" (click)="navigateToAjustes()" routerLink="/ajustes"> Ajustes </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" (click)="navigateToFavorites()" routerLink="/favoritos"> Favoritos </a>
        </li>

        <li class="nav__item">
          <a class="nav__link" (click)="navigateToLugaresPorRevisar()" routerLink="/negocios-moderador"> Lugares </a>
        </li>
      </ul>
    </div>
    <div class="search">
      <ul class="nav__list">
        @if (!isLogged) {
        <a class="nav__link" (click)="navigateToLogin()" routerLink="/auth">
          Iniciar sesión
        </a>
        } @else {
        <a class="nav__link" (click)="navigateToLogin()" routerLink="/auth">
          Cerrar sesión
        </a>
        }
      </ul>
    </div>
  </nav>
</header>
