<div class="loginPage">
  <header class="header-auth">
    <navbar></navbar>
  </header>

  <login_component
    *ngIf="selectPage === 'login'"
    (switchToRegisterEvent)="setSelectPage('register')"
    (switchToRecoveryEvent)="setSelectPage('recovery')"
  ></login_component>
  <register_component
    *ngIf="selectPage === 'register'"
    (switchToLoginEvent)="setSelectPage('login')"
  ></register_component>
  <recovery_component
    *ngIf="selectPage === 'recovery'"
    (switchToLoginEvent)="setSelectPage('login')"
  ></recovery_component>
</div>
