<main class="main_auth">
  <div class="page grid">
    <div class="auth__box grid">
      <img class="auth__logo" src="{{ logo }}" alt="logo" />
      <h1>Recuperar contraseña</h1>
      <form class="form grid" #f="ngForm" (ngSubmit)="recoverySubmit()">
        <div class="group-input">
          <i class="bx bxs-user-circle input-icon"></i>
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="input"
            id="emailInput"
            [(ngModel)]="recoveryDTO.email"
            required="true"
            required email
          />
        </div>
        <input
          class="submit-button"
          type="submit"
          value="Enviar"
          [disabled]="f.invalid"
        />
        <div class="links">
          <a class="" (click)="switchToLogin()"> Login </a>
        </div>
      </form>
    </div>
  </div>
</main>
