<main class='main_auth'>
    <div class='page grid'>
        <div class='auth__box grid'>
            <img class='auth__logo' src={{logo}} alt='logo' />
            <h1>Registrese</h1>
            <form
                class='form grid'
                onSubmit={loginSubmit}
                autoComplete='off'
            >
                <div class='group-input'>
                    <i class='bx bxs-user input-icon'></i>
                    <input
                        type='text'
                        placeholder='Nombre'
                        class='input'
                    />
                </div>
                <div class='group-input'>
                    <i class='bx bxs-user-circle input-icon'></i>
                    <input
                        type='email'
                        placeholder='Correo'
                        class='input'
                    />
                </div>
                <div class='group-input'>
                    <i class='bx bxs-lock-alt input-icon'></i>
                    <input
                        type='password'
                        placeholder='Contraseña'
                        class='input'
                    />
                </div>
                <input
                    class='submit-button'
                    type='submit'
                    value='Registrese'
                />
            </form>
            <div class='links'>
                <a class='button' (click)="switchToLogin()">
                    Iniciar sesión
                </a>
            </div>
        </div>
    </div>
</main>