<main class="main_auth">
  <div class="page grid">
    <div class="auth__box grid">
      <img class="auth__logo" src="{{ logo }}" alt="logo" />
      <h1>Regístrese</h1>
      <form
        class="form grid"
        autoComplete="off"
        #f="ngForm"
        (ngSubmit)="registerSubmit()"
      >
        <div class="group-input">
          <i class="bx bxs-user input-icon"></i>
          <input
            type="text"
            placeholder="Nombre"
            name="name"
            class="input"
            [(ngModel)]="registerDTO.name"
            required="true"
          />
        </div>
        <div class="group-input">
          <i class="bx bxs-user-circle input-icon"></i>
          <input
            type="email"
            name="email"
            placeholder="Correo"
            class="input"
            [(ngModel)]="registerDTO.email"
            required="true"
            required="email"
          />
        </div>
        <div class="group-input">
          <i class="bx bxs-lock-alt input-icon"></i>
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            class="input"
            [(ngModel)]="registerDTO.password"
            required="true"
          />
        </div>
        <input class="submit-button" type="submit" value="Registrese" />
      </form>
      <div class="links">
        <a class="button" (click)="switchToLogin()"> Iniciar sesión </a>
      </div>
    </div>
  </div>
</main>
