<div class="card">
  <div class="card-body">
    <div class="card-img">
      <img src="assets/images/image4.jpeg" alt="Negocio" />
    </div>
    <div class="card-text">
      <div class="card-title">
        <h2 class="text-center">{{ establecimientoDTO?.nombre }}</h2>
        @if (isLogged) {
        <app-agregar-favoritos
          [codigoEstablecimiento]="establecimientoDTO!.codigo"
          [isFavorite]="isFavorite"
        ></app-agregar-favoritos>
        }
      </div>
      <div class="card-content">
        <p>
          {{ establecimientoDTO?.descripcion }}
        </p>
        <p>Calificación:</p>
        @if (establecimientoDTO?.promedio != undefined) { @for (item of
        generarRango(establecimientoDTO!.promedio); track $index) {
        <i class="bx bxs-star star-active"></i>
        } }
      </div>
      <div class="card-text_button">
        <button class="submit-button" (click)="navigateToDetalleNegocio()">
          Visitar
        </button>
      </div>
    </div>
  </div>
</div>
