<div class="loginPage">
  <header class="header-auth">
    <navbar></navbar>
  </header>
  <main class="main_auth">
    <div class="page grid">
      <div class="auth__box grid">
        <img class="auth__logo" src="{{ logo }}" alt="logo" />
        <h1>Recuperar contraseña</h1>
        <form
          class="form grid"
          #f="ngForm"
          (ngSubmit)="validatePassword(password.value, confirmpassword.value)"
        >
          <div class="group-input">
            <i class="bx bxs-lock-alt input-icon"></i>
            <input
              #password
              type="password"
              name="password"
              placeholder="Contraseña"
              class="input"
              id="passwordInput"
              required="true"
            />
          </div>
          <div>
            <div class="group-input">
              <i class="bx bxs-lock-alt input-icon"></i>
              <input
                #confirmpassword
                type="password"
                name="password"
                placeholder="Confirma tu contraseña"
                class="input"
                id="passwordInput"
                required="true"
              />
            </div>
          </div>
          <input
            class="submit-button"
            type="submit"
            value="Enviar"
            [disabled]="f.invalid"
          />
        </form>
      </div>
    </div>
  </main>
</div>
